.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
  visibility: hidden;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  font-weight: 300;
  font-size: 1.125rem;
  color: #9698a6;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container-pxy {
  padding: 2.25rem 1.5rem;
}

.container-py {
  padding: 2.25rem 0;
}

.container-px {
  padding: 0 1.5rem;
}

.container-pt {
  padding-top: 2.25rem;
}

.container-pr {
  padding-right: 1.5rem;
}

.container-pb {
  padding-bottom: 2.25rem;
}

.container-pl {
  padding-left: 1.5rem;
}

.noscroll {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  font-size: 0.875rem;
  display: inline-block;
  padding: 0.875rem 1.875rem;
  border-radius: 50px;
  cursor: pointer;
  background: -webkit-gradient(linear, right top, left top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to left, #31d35c, #2bb7da);
  border: none;
  color: white;
  font-weight: 400;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover,
.button:hover {
  opacity: 0.75;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  position: relative;
  background-color: white;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header_logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header_links a {
  position: relative;
  font-size: 0.875rem;
  color: #9698a6;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header_links a:not(:last-child) {
  margin-right: 2rem;
}

.header_links a::before {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, right top, left top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to left, #31d35c, #2bb7da);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header_links a:hover {
  color: #2d364d;
}

.header_links a:hover::before {
  background: -webkit-gradient(linear, right top, left top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to left, #31d35c, #2bb7da);
  opacity: 1;
}

.header_toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2d364d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 4px 1px;
          transform-origin: 4px 1px;
}

.header_toggle > span:not(:last-child) {
  margin-bottom: 4px;
}

.header.open .header_toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header_toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header_toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d364d), to(transparent));
  background-image: linear-gradient(#2d364d, transparent);
}

.header_menu {
  position: absolute;
  visibility: 0;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  padding: 1.625rem;
  margin-top: 1.5rem;
  border-radius: 7px;
}

.header_menu a {
  padding: 0.625rem;
  color: #2d364d;
  display: block;
  text-align: center;
}

.hero {
  background-color: #fafafa;
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero_image {
  position: relative;
  background-image: url("../Landing Page/images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 62%;
  min-height: 17.5rem;
}

@media (min-width: 40em) {
  .hero_image {
    min-height: 25rem;
  }
}

@media (min-width: 64em) {
  .hero_image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-height: 40.9375rem;
    background-image: none;
  }
}

.hero_image::before {
  content: '';
}

@media (min-width: 64em) {
  .hero_image::before {
    position: absolute;
    height: 100%;
    background-image: url("../Landing Page/images/bg-intro-desktop.svg");
    background-position: center bottom;
    width: 150%;
    background-size: 121%;
    background-repeat: no-repeat;
    background-position: 0% 83%;
  }
}

.hero_image::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../Landing Page/images/image-mockups.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (min-width: 40em) {
  .hero_image::after {
    background-size: 54%;
  }
}

@media (min-width: 64em) {
  .hero_image::after {
    height: 120%;
    width: 119%;
    background-size: 93%;
    background-position: center 122%;
    left: 24%;
  }
}

.hero_text {
  text-align: center;
}

@media (min-width: 64em) {
  .hero_text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.hero_text h1 {
  color: #2d364d;
  font-weight: 300;
  font-size: 3.3125;
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  .hero_text h1 {
    font-size: 3.25rem;
  }
}

.hero_text p {
  line-height: 1.5;
}

@media (min-width: 64em) {
  .hero_text p {
    font-size: 1.125rem;
  }
}

@media (min-width: 64em) {
  .feature_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 64em) {
  .feature_item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */