.footer {
	background-color: $darkBlue;
	color: $white;
	padding: 2.5rem;
	text-align: center;

	a {
		color: $white;
	}

	&_logo {
		margin-bottom: 1.875rem;
		display: inline-block;
	}

	&_social {
		margin-bottom: 1.875rem;

		a {
			display: inline-block;
		}

		a:not(:last-child) {
			margin-right: 1rem;
		}
	}

	&_links {
		display: flex;
		flex-direction: column;
		align-items: center;

		a {
			line-height: 2.25;
		}

		&.col-1 {
		}

		&.col-2 {
			margin-bottom: 1.875rem;
		}
	}

	&_cta {
		margin-bottom: 1.875rem;
	}

	&_copyright {
	}
}
