.header {
	nav {
		position: relative;
		background-color: white;
		padding-top: 1.0625rem;
		padding-bottom: 1.0625rem;
	}

	&_logo {
		img {
			width: 8.8125rem;
			height: 1.375rem;
		}
	}

	&_links {
		a {
			position: relative;
			font-size: $font-sm;
			color: $grayishBlue;
			transition: color 200ms ease-in-out;

			&:not(:last-child) {
				margin-right: 2rem;
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				height: 4px;
				border-radius: 2px;
				left: 0;
				right: 0;
				bottom: -30px;
				background: linear-gradient(to left, $limeGreen, $brightCyan);
				opacity: 0;
				transition: opacity 300ms ease-in-out;
			}
			&:hover {
				color: $darkBlue;

				&::before {
					background: linear-gradient(
						to left,
						$limeGreen,
						$brightCyan
					);
					opacity: 1;
				}
			}
		}
	}

	&_toggle {
		> span {
			display: block;
			width: 26px;
			height: 2px;
			background-color: $darkBlue;
			transition: all 300ms ease-in-out;
			transform-origin: 4px 1px;

			&:not(:last-child) {
				margin-bottom: 4px;
			}
		}
	}

	// Hamburger open style
	&.open {
		.header_toggle {
			> span:first-child {
				transform: rotate(45deg);
			}

			> span:nth-child(2) {
				opacity: 0;
			}

			> span:last-child {
				transform: rotate(-45deg);
			}
		}
	}

	.overlay {
		opacity: 0;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-image: linear-gradient($darkBlue, transparent);
	}

	&_menu {
		position: absolute;
		visibility: 0;
		width: calc(100% - 3rem);
		left: 50%;
		transform: translateX(-50%);
		background: white;
		padding: 1.625rem;
		margin-top: 1.5rem;
		border-radius: 7px;

		a {
			padding: 0.625rem;
			color: $darkBlue;
			display: block;
			text-align: center;
		}
	}
}
